.progress
{
    display: block;
    position: absolute;
    padding: 2px 3px;
}
.container
{
    border: solid 1px #808080;
    border-width: 1px 0px;
}
.header
{
    background: url(img/sprite.png) repeat-x 0px 0px;
    border-color: #808080 #808080 #ccc;
    border-style: solid;
    border-width: 0px 1px 1px;
    padding: 0px 10px;
    color: #000000;
    font-size: 9pt;
    font-weight: bold;
    line-height: 1.9;  
    font-family: arial,helvetica,clean,sans-serif;
}
.body
{
    background-color: #f2f2f2;
    border-color: #808080;
    border-style: solid;
    border-width: 0px 1px;
    padding: 10px;
}